body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.box h1{
    font-family: "Quark Cheese - Personal Use";
    font-size: 100px;
    color: whitesmoke;
    text-shadow: 0.5px 2px 3px #c4b59d, 0 -0.5px 0.5px gold;
    margin-top: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid #fff;
    font-weight: normal;
    letter-spacing: 3px;
}
.box h2{
    font-size: 20px;
    font-family: "Arial";
    color: whitesmoke;
    padding: 5px 100px;
    background: none;
    text-shadow: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    margin-top: 3px;
}
.F img{
    height: 35px;
    width: 35px;
    border-radius: 10px;
    border: 4px solid whitesmoke;
}
#icon img:hover{
    border-radius: 11px;
    height: 36px;
    width: 36px;
    border: 6px solid whitesmoke;
    filter: drop-shadow(3px 3px 1px gray);
}
#icon img:focus{
    border-radius: 11px;
    height: 36px;
    width: 36px;
    border: 6px solid whitesmoke;
    filter: drop-shadow(3px 3px 1px gray);
}
#intro1{
    height: 900px;
    text-align: center;
    background-size: 100%;
    padding: 30px 90px;
    text-align: center;
}
#box1{
    height: 385px;
    width: 360px;
    background-color: rgba(0,0,0,0);
}
#header{
    height: 30px;
    color: whitesmoke;
    font-family: "Quark Cheese - Personal Use";
    text-align: left;
    margin-bottom: 2%;
    font-size: 40px;
    text-decoration: none;
    text-shadow:0 -2px 1px gray;
    font-weight: normal;
}
#header table tr td a:hover{
    height: 30px;
    color: whitesmoke;
    text-align: left;
    margin-bottom: 2%;
    font-size: 50px;
    text-shadow:0 5px -4px gray;
}
#header table tr td a:focus{
    height: 30px;
    color: whitesmoke;
    text-align: left;
    margin-bottom: 2%;
    font-size: 50px;
    text-shadow:0 5px -4px gray;
}
#box a div ul li{
    list-style-image: url("list.jpg");
    font-family: "Arial";
    margin: 10%;
    font-size: 20px;
    font-weight: bold;
}
